@font-face {
    font-family: Mona-Sans-Regular;
    src: url(/assets/Mona-Sans-Regular.otf);
}
@font-face {
    font-family: Mona-Sans-SemiBold;
    src: url(/assets/Mona-Sans-SemiBold.otf);
}


*{
    font-family: Mona-Sans;
    margin: 0;
    padding: 0;
}

h1{
    font-family: Mona-Sans-SemiBold;
    padding: 1rem;
    margin: .5rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    background-color: #f5f5f5;
}
#display{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#root{
    height: 80vh;
    min-height: 300px;
}
#drum-machine{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 12px;
}
button{
    width: 6rem;
    height: 6rem;
    background-color: #444;
    color: #f5f5f5;
    font-family: Mona-Sans-SemiBold;
    font-size: 2rem;
    border: none;
    border-radius: 12px;
}
button:hover{
    background-color: rgb(129, 38, 38);
}